@import 'https://rsms.me/inter/inter.css';
body {
  font-family: Inter;

}

.username{
text-decoration: underline;
color: black;

}

.header{
  text-align: center;
}

.profile_image {
    width: 200px;
    border-radius: 100px;
    float: left;
    margin-right: 10px;
    height: 200px;
    border: 3px solid #59b9df;
    
}

.body_text {
    margin-left: 210px;
    width: 550px;
    border-left: cornflowerblue;
}