
:root {
  --bg: #272727;
  --bg-2: #004e64;
  --accent-1: #c97b84;
  --accent-2: #e0acd5;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: var(--bg);
  color: #F8F7FF;
  display: grid;
  grid-template-columns: [left] 5% [left-mid] 45% [mid] 45% [right-mid] 5% [right];
  grid-template-rows: [top] auto [top-mid] auto [bottom-mid] auto [bottom];
}

.username{
  text-decoration: underline;
}

.header {
  text-align: center;
  font-weight: 700;
}

.profile_image {
  max-width: 100%;
}

.blurb {  
  border-left: cornflowerblue;
}

.navbar {
  text-align: center;
  color: #F8F7FF;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: medium;
}

.icon {
  color: var(--accent-1);
  height: 60px;
  width: auto;
  padding-left: 20px;
}

.icon:hover,
.icon:active {
  animation: icon-hover 500ms;
}

@keyframes icon-hover {
  from {
    color: var(--accent-1);
  }
  to {
    color: var(--accent-2);
    height:65px;
  }
}


/* grid children */

.child-navbar {
  grid-row: top / top-mid ;
  grid-column: left-mid / right-mid;
}

.child-image {
grid-row: top-mid / bottom ;
grid-column: mid / right-mid;
}

.child-blurb {
  grid-row: top-mid / bottom-mid ;
  grid-column: left-mid / mid ;
}

.child-icons {
grid-row: bottom-mid / bottom;
grid-column: left-mid / mid;
}